<!-- Favicon resources -->
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | absURL }}"> <!-- SVG format -->
<link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}"> <!-- ICO format -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon.png" | absURL }}"> <!-- 16x16 PNG format -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32.png" | absURL }}"> <!-- 32x32 PNG format -->
<link rel="icon" type="image/png" sizes="64x64" href="{{ "favicon-64.png" | absURL }}"> <!-- 64x64 PNG format -->
