<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header class="py-6 border-b">
    {{- partial "header.html" . -}}
  </header>
  <main class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">
    {{- block "main" . }}{{ end -}}
  </main>
  <footer class="bg-zinc-100 py-10 md:py-14">
    {{- partial "footer.html" . -}}
  </footer>
  {{- partialCached "footer/js.html" . }}
</body>
</html>